
html {
	font-size: $global-font-size;
}

body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: $font__body;
	font-weight: $font__weight-normal;
	font-size: $font__size_base;
	line-height: $font__line-height-body;
	text-rendering: optimizeLegibility;
}

@import "headings";

@import "copy";

@include non-latin-fonts();
