@mixin btn-base {
	@include button-transition;
	box-sizing: border-box;
	color: $color__background-body;
	cursor: pointer;
	font-family: $font__heading;
	font-size: $font__size_base;
	outline: none;
	text-decoration: none;

	&:hover,
	&:focus {
		text-decoration: none;
	}

	&:visited {
		text-decoration: none;
	}

	&:focus {
		outline: none;
	}
}

@mixin btn-primary {
	background: $color__background-button;
	border: 2px solid $color__background-button;
	color: $color__white;

	&:hover,
	&:focus {
		background: $color__background-button-hover;
		color: $color__white;
	}
}

@mixin btn-outline {
	background: $color__background-body;
	border: 2px solid $color__background-button;
	color: $color__background-button;

	&:hover,
	&:focus {
		border-color: $color__background-button-hover;
		color: $color__background-button-hover;
	}
}