// Font and typographic variables

$font__body: serif;
$font__heading: sans-serif;
$font__code: Menlo, monaco, Consolas, Lucida Console, monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;

$font__size_base: rem-calc(16);

$font__size-xxs:   rem-calc(12);
$font__size-xs:    rem-calc(14);
$font__size-sm:    rem-calc(16);
$font__size-md:    rem-calc(20);
$font__size-lg:    rem-calc(24);
$font__size-xl:    rem-calc(30);
$font__size-xxl:   rem-calc(40);
$font__size-xxxl:  rem-calc(50);

$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
$font__line-height-heading: 1.2;
$font__line-height-double:  2 * $font__line-height-heading;

$font__weight-normal: 400;
$font__weight-bold: 700;