// Font and typographic variables

$font__body: serif;
$font__heading: sans-serif;
$font__code: Menlo, monaco, Consolas, Lucida Console, monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;

$font__size_base: rem-calc(16);

$font__size-12:   rem-calc(12);
$font__size-14:    rem-calc(14);
$font__size-16:    rem-calc(16);
$font__size-20:    rem-calc(20);
$font__size-24:    rem-calc(24);
$font__size-30:    rem-calc(30);
$font__size-40:   rem-calc(40);
$font__size-50:  rem-calc(50);

$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
$font__line-height-heading: 1.2;
$font__line-height-double:  2 * $font__line-height-heading;

$font__weight-normal: 400;
$font__weight-bold: 700;