/* !Block alignment */

&.alignwide {
	@include wideContentMaxWidth();
}

&.alignfull {
	@include fullContentMaxWidth();
}

&.alignleft {
	/*rtl:ignore*/
	float: left;
	max-width: calc(5 * (100vw / 12));
	margin-top: 0;
	margin-left: 0;
	/*rtl:ignore*/
	margin-right: $size__spacing-unit;

	@include media(tablet) {
		max-width: calc(4 * (100vw / 12));
		/*rtl:ignore*/
		margin-right: calc(2 * #{$size__spacing-unit});
	}
}

&.alignright {
	/*rtl:ignore*/
	float: right;
	max-width: calc(5 * (100vw / 12));
	margin-top: 0;
	margin-right: 0;
	/*rtl:ignore*/
	margin-left: $size__spacing-unit;

	@include media(tablet) {
		max-width: calc(4 * (100vw / 12));
		margin-right: 0;
		/*rtl:ignore*/
		margin-left: calc(2 * #{$size__spacing-unit});
	}
}

&.aligncenter {
	margin-left: auto;
	margin-right: auto;

	@include postContentMaxWidth();

	@include media(tablet) {
		margin-left: 0;
		margin-right: 0;
	}
}